@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* Color Palette */
/* Primary - #6C00FF */
/* Secondary - #3C79F5 */
/* Tertiary - #2DCDDF */
/* Additional - #F2DEBA */

.menu-dropdown-item:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

/* body::-webkit-scrollbar{
    display: none;
} */

.ag-theme-pesa24-blue .ag-root-wrapper {
    border: none !important;
}

.ag-theme-pesa24-blue .ag-header-row {
    background-color: #F97B22 !important;
}

.ag-theme-pesa24-blue .ag-header-cell {
    color: #FFF;
    font-size: 12px;
}
.ag-theme-pesa24-blue .ag-cell {
    font-size: 12px;
}

.ag-theme-pesa24-blue .ag-floating-filter {
    color: #333;
}

.ag-theme-pesa24-blue .ag-cell-focus {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

@media (max-width: 768px) {
    .ag-theme-pesa24-blue .ag-cell {
        min-width: 100px !important;
    }
}